<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report {{ reportId }}</title>
</head>
<body>
    <b>{{ alias }}</b>
    <p>Someone reported {{ alias }} for content type: {{ type }}</p>
    <a href="{{ url }}">{{ url }}</a>

    <p>Message: {{ message }}</p>

    <span>Report id: {{ reportId }}</span>
</body>
</html>
